.types-list {
  display: flex;
  .list-item {
    border: 1px solid white;
    width: auto;
    &:hover {
      border-color: $success;
    }
    .class-link {
      display: block;
      padding: 16px 32px;
      color: white;
    }
  }
}
.classes-list {
  .content {
    margin-right: 88px;
    @include mobile() {
      margin-right: 0;
    }
    p {
      margin-bottom: 8px;
      @include ipad() {
        margin-bottom: 48px;
      }
    }
  }
  .content-title {
    margin-bottom: 4px;
  }
  .bt{
    width: 168px;
  }
  .detail:hover {
    background: white;
  }
  .booking {
    .booking-link {
      background: linear-gradient(to right, $info, $success);
      &:hover {
        opacity: 0.6;
        cursor: pointer;
      }
    }
  }
}
