header {
  .logo-part{
    width: 50%;
  }
  .header-links{
    width: 50%;
    border-bottom: 1px solid $info;
    display: flex;
    @include mobile(){
      width: 100%;
      border: none;
      display: none;
      .list-item{
        width: 100%;
      }
    }
  }
  .menu-hamburger{
    width: 50%;
  }
  .logo {
    width: 174.4pt;
  }
  .link {
    color: $white;
    &:hover {
      color: $success;
    }
  }
  .material-icons {
    margin-right: 6pt;
  }
}

footer{
  line-height: 19pt;
}
