<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="./assets/style/all.css" />
  </head>

  <body>
    <header class="bg-primary">
      <div class="d-flex flex-wrap">
        <div
          class="logo-part pd-12 pt-4 pb-4 d-flex justify-content-between border-bottom border-success"
        >
          <a href="/"><img src="./assets/images/logo.svg" alt="logo" class="logo" /></a>
        </div>
        <div
          class="menu-hamburger d-block d-md-none pt-5 pb-4 text-end pd-12 border-bottom border-info"
        >
          <span class="material-icons ham-icon link">
            drag_handle
          </span>
        </div>
        <ul
          class="header-links pt-4 pt-md-0 pd-12 list-unstyled flex-column flex-md-row justify-content-end align-items-center"
        >
          <li class="list-item mb-4 mb-md-0 text-center">
            <a href="/" class="link">首頁</a>
          </li>
          <li class="list-item ms-md-6 mb-4 mb-md-0 text-center">
            <a href="./classes.html" class="link">課程介紹</a>
          </li>
          <li
            class="list-item ms-md-6 mb-4 mb-md-0 text-center"
            data-bs-toggle="modal"
            data-bs-target="#loginModal"
          >
            <div class="link">
              <span class="material-icons"> account_circle </span>登入
            </div>
          </li>
        </ul>
      </div>
    </header>

    <%- contents %> <%- include ('./_login.ejs') %>

    <footer class="footer bg-footer text-center fs-5 pt-4 pb-4">
      Coding Home © 2022 All Rights Reserved
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: "auto",
        spaceBetween: 0,
        loop: true,
        speed: 4000,
        autoplay: {
          delay: 0,
          disableOnInteraction: false,
          pauseOnMouseEnter: false,
        },
      });
      var swiper = new Swiper(".shareSwiper", {
        slidesPerView: "auto",
        spaceBetween: 30,
        effect: "fade",
        autoplay: {
          disableOnInteraction: false,
        },
        speed: 2500,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".arrow-next",
          prevEl: ".arrow-prev",
        },
      });
      var swiper = new Swiper(".typeSwiper", {
        slidesPerView: "auto",
        spaceBetween: 0,
        loop: true,
        speed: 4000,
        autoplay: {
          delay: 0,
          disableOnInteraction: false,
          pauseOnMouseEnter: false,
        },
      });
    </script>
  </body>
</html>
